/*Controls*/
.controlBox {
    border: none;
    width: 100%;
    height: 50px;
    margin: auto;
}

ul.controls {
    border: none;
    margin: auto;  
}

#classifyControls {
    width: 70%;
    transform: translate(0px,-40px);
}

#adminControls {
    width: 100%;
}

ul.controls li {
    display: inline-block;
}

.button {
    display: inline-block;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--navBarBackgroundColor);
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    height: 40px;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    position: relative;
    transition: 0.5s;
}

.button:hover span {  
    color: var(--navBarMenuTextHoverColor);
}

/*Next Button*/
#nextBtn {
    height: 100px;
    width: 40px;
    font-size: 400%;
    background-color: var(--mainBackgroundColor);
    transform: translate(370px,-320px);
}

#nextBtn:hover span {
    padding-left: 15px;
    color: var(--navBarMenuTextHoverColor);
}

/*Back Button*/
#backBtn {
    height: 100px;
    width: 40px;
    font-size: 400%;
    background-color: var(--mainBackgroundColor);
    transform: translate(-250px,-320px);
}

#backBtn:hover span {
    padding-right: 15px;
    color: var(--navBarMenuTextHoverColor);
}

/*Slider*/
.sliderContainer {
    width: 400px;
    padding-left: 30px;
    padding-right: 30px;
}

#slider{
    border: 1px solid black; 
    background-image: linear-gradient(to right, #cc0000 0%,#00cc00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: all 0.5s;
    cursor: pointer;
}

#handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    margin-left: -1.5em;
    font-family: inherit;
    text-align: center;
    line-height: 1.6em;
    color: white;
    border: 1px solid black;
    background-color: var(--navBarBackgroundColor);
    transition: color 0.5s;
    cursor: pointer;
}

#handle:hover {
    color: var(--navBarMenuTextHoverColor);  
}

#handle:focus, #handle:active {
    outline: none;
}

.sliderLabel {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    font-size: 80%;
    text-align: center;
    text-transform: none;
    color: var(--navBarMenuTextColor);
}

#leftSliderLabel {
/*margin-left: -5px;*/
}

#rightSliderLabel {
margin-left: 325px;
}

/* Old Next and Back Butttons */
/*Next Button*/
/*#nextBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -5px;  
}

#nextBtn:hover span {
    padding-right: 15px;
    color: var(--navBarMenuTextHoverColor);
}

#nextBtn:hover span:after {
    color: var(--navBarMenuTextHoverColor);
    opacity: 1;
    right: 0;
}

Back Button
#backBtn span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    left: -5px;
}

#backBtn:hover span {
    padding-left: 15px;
    color: var(--navBarMenuTextHoverColor);
}

#backBtn:hover span:after {
    color: var(--navBarMenuTextHoverColor);
    opacity: 1;
    left: 0;
}*/