@import url(navBar.css);
@import url(controlBox.css);
@import url(timeseries.css);
@import url(charts.css);

:root {
    --mainBackgroundColor : #2a2a2a;
    --navBarBackgroundColor : #3a3a3a;
    --navBarMenuTextColor : #818181;
    --navBarMenuBorderColor : #585858;
    --navBarMenuTextHoverColor : #22b3eb;
}

html {
    font-family: 'Lato', Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color : var(--mainBackgroundColor);
    margin: 0px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

hr {
    border-color: var(--navBarMenuBorderColor);
    background-color: var(--navBarMenuBorderColor);
    height: 1px;
    width: inherit;
}

p {
    color: white;
    text-transform: none;
    width: inherit;
    margin: auto;
}

a:link {
    color: white;
}


a:visited {
    color: var(--navBarMenuTextHoverColor);
}


a:hover {
    color: var(--navBarMenuTextHoverColor);
}

/*Main content*/
.content {
    width: 1200px;
    margin: auto;
}

.pageHeader{
    padding-top: 70px;
    padding-bottom: 20px;
    color: white;
    width: 90%;
    margin: auto;
}

.sectionHeader {
    padding-bottom: 20px;
    color: white;
    width: 90%;
    margin: auto;
}

.container {
    width: 100%;
    white-space: nowrap
}

.textContainer {
    width: 90%;
    margin: inherit; 
}

.textDivider {
   width: 50%;
   margin-right: 40%;
}

.exampleImage {
    width: 700px;
    height: 400px;
    margin-left: 50px;
}

.instructionImage {
    width: 650px;
    height: 400px;
}

.instructionLabel {
    color: red;
}

.video {
    width: 650px;
    height: 400px;
    margin-left: 50px;
}

/* Tables */
table {
    width: 90%;
    margin: auto;
    color: white;
    text-align: center;
}

th {
    background-color: var(--navBarBackgroundColor);
    color: var()--navBarMenuTextColor);
}