@import url(navBar.css);
@import url(controlBox.css);
@import url(timeseries.css);
@import url(charts.css);

:root {
    --mainBackgroundColor : #2a2a2a;
    --navBarBackgroundColor : #3a3a3a;
    --navBarMenuTextColor : #818181;
    --navBarMenuBorderColor : #585858;
    --navBarMenuTextHoverColor : #22b3eb;
}

html {
    font-family: 'Lato', Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color : var(--mainBackgroundColor);
    margin: 0px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

hr {
    border-color: var(--navBarMenuBorderColor);
    background-color: var(--navBarMenuBorderColor);
    height: 1px;
}

/*Main content*/
.content {
    width: 1200px;
    margin: auto;
}

.pageHeader{
    padding-top: 70px;
    /*padding-left: 50px;*/
    padding-bottom: 20px;
    color: white;
    width: 90%;
    margin: auto;
}

.sectionHeader {
    padding-bottom: 20px;
    color: white;
    width: 90%;
    margin: auto;
}

.container {
    width: 100%;
    white-space: nowrap
}
