/*Navigation Bar*/
:root {
    --mainBackgroundColor : #2a2a2a;
    --navBarBackgroundColor : #3a3a3a;
    --navBarMenuTextColor : #818181;
    --navBarMenuBorderColor : #585858;
    --navBarMenuTextHoverColor : #22b3eb;
}

.navMenu {
    background-color: var(--navBarBackgroundColor);
    height: 50px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.nd-logo {
    height: 35px;
    width: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    float: left;
}

ul.menu {
    padding: 0;
    white-space: nowrap;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    text-decoration: none;
    color: var(--navBarMenuTextColor);
    padding: 0 15px;
    border-left: 2px solid  var(--navBarMenuBorderColor);
}

.menu li:first-child>a {
    border-left: 0;
    padding-left: 0;
}

ul.menu li a:hover span {
    color: var(--navBarMenuTextHoverColor);
    transition: color 0.3s;
    border-bottom: 3px solid var(--navBarMenuTextHoverColor);
    transition: border-bottom 0.1s;
}

ul.menu li.active a span {
    color: var(--navBarMenuTextHoverColor);
    border-bottom: 3px solid var(--navBarMenuTextHoverColor);
}
